/* =========== tab 768px ============ */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .address-link {
        display: block;
    }
    .page-header {
        padding: 0;
    }
    .logo-header {
        margin-right: 76px;
        color: #4d5ae5;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .menu {
        display: flex;
        gap: 12px;
    }
    .menu-item .underline {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .underline {
        position: relative;
        color: #404bbf;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .underline::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404bbf;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.25s;
        transform: scaleX(1);
    }
    .burger-menu {
        display: none;
    }
    .hero-container {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-image-hero.jpg');
    }
    .main-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
    .page-contact {
        display: block;
    }
    .address-link {
        color: #434455;
        font-size: 12px;
        line-height: 1, 16;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .benefits-list-item {
        width: calc((100% - 24px) / 2);
    }
    .benefits-list-title {
        text-align: left;
    }
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
        align-items: center;
    }
    .modal {
        width: 288px;
        padding: 72px 24px 24px 24px;
        border-radius: 4px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-50%, -50%);
    }
    .team-container {
        padding: 0 108px;
    }
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
    /* Portfolio */

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
    /*  ====== Footer ===== */
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: baseline;
        padding: 0 108px;
    }
    .logo-footer {
        text-align: left;
    }
    .footer-social-text {
        text-align: left;
    }
    .footer-form-title {
        text-align: left;
    }
    .footer-form {
        width: 453px;
    }
    .footer-form .form {
        flex-direction: row;
    }
    /* backdrop */
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    /* mobile menu */
    .mobile-menu {
        display: none;
    }
    /* /mobile menu */
}
/* =========== /tab 768px ============ */

/* ============ PC 1158px ============= */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
    .section {
        padding: 120px 0;
    }
    .burger-menu {
        display: none;
    }
    .page-contact {
        display: block;
    }
    .logo-header {
        margin-right: 76px;
    }
    .contact-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
    }
    .address-link {
        font-size: 16px;
        line-height: 1, 5;
    }
    .hero-container {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-image-hero.jpg');
    }
    .main-title {
        margin-bottom: 48px;
    }
    .benefits-list {
        gap: 24px;
        align-items: center;
    }
    .benefits-list-item {
        width: calc((100% - 72px) / 4);
    }
    .benefits-list-title {
        font-weight: 500;
        font-size: 20px;
    }
    .benefits-list-text {
        font-weight: 400;
    }
    .benefits-list-item .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
    }
    .benefits-list-item .icon-box .icon {
        fill: #2e2f42;
    }
    /* /benefits */

    /* team */
    .team-container {
        padding: 0 15px;
    }
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .team-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }
    /* /team */

    /* portfolio */
    .portfolio-list-item {
        width: calc((100% - 24px * 2) / 3);
    }
    /* /portfolio */

    /* footer */

    .page-footer {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }
    .page-footer-text {
        max-width: 264px;
        background: #2e2f42;
        color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .logo-footer {
        display: inline-block;
        max-width: 115px;
        margin-bottom: 16px;
        color: #4d5ae5;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .logo-white-footer {
        color: #f4f4fd;
    }

    .footer-content {
        width: 264px;
        margin-right: 120px;
    }

    .footer-social-text {
        margin-bottom: 16px;
        color: #fff;
        font-weight: 500;
    }
    .footer-social-list {
        display: flex;
        gap: 16px;
    }

    .footer-social-list-item .item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-social-list-item .item-link:hover,
    .footer-social-list-item .item-link:focus {
        background-color: #31d0aa;
    }
    .footer-social-list-item .icon {
        fill: #f4f4fd;
    }
    .footer-social {
        margin-right: 80px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-form .form {
        gap: 24px;
    }
    /* /footer */

    /* backdrop */
    .contact-form-input {
        padding-left: 38px;
    }
    .contact-form-checkbox-label {
        display: block;
    }
}
/* ============ /PC 1158px ============= */
