body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a {text-decoration: none;
}
ul, ol {
    list-style: none;
}
button {cursor: pointer;
}
/* =======header====== */
.nav-page {
}
.logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part {
    color: #2e2f42;
}
.ul-page {
}
.logo-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-contakt-link {
}
.address-page{
    font-style: normal;
}
.nav-address-link {
    font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* =========/header===== */
/* =========event========= */
.logo-link:hover,
.logo-link:focus{
    color: #404BBF
}
.nav-address-link:hover,
.nav-address-link:focus
{
    color: #404BBF
}
.hero .btn:hover,
.hero .btn:focus {
  background: #404bbf;
}


/* ==========/event======== */
/* ==========main======= */
/* ==========1 section======= */
.hero {
    background: #2e2f42;
}
.hero .title {
 font-weight: 700;
font-size: 56px;
line-height: 1.1;
text-align: center;
color: #fff;
}
.btn {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
/* =============/1 section ===========*/
/* =============2 section=========== */
.benefit-section .title {
font-weight: 500;
font-size: 20px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #2e2f42;
}
.benefit-section .text {
/* in the body */
}
/* =============/2 section=========== */
/* =============3 section============ */
.img-section {
    background: #f4f4fd;
}
.img-section .title{
 font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
}
.img-section .img-link{
    /* in the body */
}
.img-section li .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}
.img-section .text{
text-align: center;
}
/* ====== /3 section========== */
/* =======4 section=========== */
.portfolio-page {
     /* in the body */
}
.portfolio-page .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-page li .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
       color: #2e2f42;
}

.portfolio-page .text{
    /* in the body */
    }
    .portfolio-name{
        background-color: #FFFFFF;
    }

    /* =======/4 section=========== */
    /* ======footer========== */
    .footer-page{
        background: #2e2f42;
    } 
 .footer-page .logo-part{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
 }
 .footer-page .text{
color: #f4f4fd;
 }