body {
    background-color: #fff;
    color: #434455;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}
.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    /* margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px; */
}

.section {
    padding: 96px 0;
}

button {
    border: none;
    outline: transparent;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}
/* header styles */

.page-nav {
    display: flex;
    align-items: center;
}

.page-contact {
    font-style: normal;
}

.page-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: none;
}
.burger-menu {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    stroke: #111111;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo-header {
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-header:hover,
.logo-header:active,
.logo-header:focus {
    color: #404bbf;
}
.logo-black-header {
    color: #2e2f42;
}

.menu-link {
    position: relative;
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.menu-link.active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.page-contact {
    display: none;
    margin-left: auto;
    font-style: normal;
}
/* /header styles */

/* hero styles */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/dark-bg-mob.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-title {
    max-width: 216px;
    margin-bottom: 72px;
    color: #fff;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn-service-block {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-service:hover,
.btn-service:focus {
    background: #404bbf;
    color: #fff;
}
/* /hero styles */

/* benefits styles */
.benefits {
    padding: 96px 0;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    align-items: center;
}
.benefits-list-item {
    width: 100%;
}
.benefits-list-item .icon-box {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
}
.benefits-list-title {
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.benefits-list-text {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* /benefits styles */

/* team styles  */
.team-section {
    padding: 96px 0;
    background-color: #f4f4fd;
}

.section-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-list-item {
    max-width: fit-content;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-position-container {
    padding: 32px 0;
}

.name-position-container .list-title,
.title-text-container .list-title {
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.name-position-container .list-text,
.title-text-container .list-text {
    font-weight: 400px;
}
.name-position-container .list-text {
    margin-bottom: 8px;
}

.name-position-container .list-title,
.name-position-container .list-text {
    text-align: center;
}

.social-links-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
}

.social-link-icon {
    fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
/* /team styles  */

/* portfolio styles */

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-list-item {
    width: 100%;
    background-color: #fff;
}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-title-text {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-title {
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* /portfolio styles */

/* footer */

.page-footer {
    padding: 96px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
.page-footer-text {
    max-width: 264px;
    background: #2e2f42;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

.logo-white-footer {
    color: #f4f4fd;
}

.footer-content {
    width: 264px;
}
.footer-social {
    width: 208px;
}

.footer-social-text {
    margin-bottom: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list-item .item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item .item-link:hover,
.footer-social-list-item .item-link:focus {
    background-color: #31d0aa;
}
.footer-social-list-item .icon {
    fill: #f4f4fd;
}
.footer-form {
    width: 100%;
}

.footer-form-title {
    margin-bottom: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.footer-form .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.footer-form .form-label {
    width: 100%;
    margin-bottom: 0;
}
.footer-form .form-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form .form-input:focus {
    border-color: #4d5ae5;
}
.footer-form .form-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.footer-form .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form .form-btn:hover,
.footer-form .form-btn:focus {
    background-color: #404bbf;
}
.footer-form .form-btn .icon {
    margin-left: 16px;
    fill: #fff;
}
/* /footer */

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.modal-close-btn:hover,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
}

.contact-form-description {
    margin-bottom: 16px;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
}

.contact-form-field-wrapper {
    margin-bottom: 8px;
}
.contact-form-field-label {
    display: block;
    margin-bottom: 4px;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contact-form-input-wrapper {
    position: relative;
}

.contact-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
}
.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 34px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: #4d5ae5;
}
.contact-form-input:focus + .contact-form-input-icon {
    fill: #4d5ae5;
}

.contact-form-textarea-wrapper {
    margin-bottom: 16px;
}

.contact-form-message {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    border-color: #4d5ae5;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label .contact-form-own-checkbox {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    width: 100%;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-policy {
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
}

.contact-form-own-checkbox {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.contact-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.contact-form-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-inline: auto;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /backdrop */

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
}

.mobile-close-btn-icon {
    fill: #2e2f42;
}

.mobile-navigation {
    margin-bottom: auto;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.studio-color {
    color: #404bbf;
}

.mobile-menu-adress {
    margin-bottom: 48px;
}
.mobile-menu-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-adress-link {
    color: #434455;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
}

.phone-color {
    color: #4d5ae5;
}

.mobile-menu-social-links-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
}

.social-link-icon {
    fill: #f4f4fd;
}
/* /mobile menu */
