h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h3,
p {
  text-align: left;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}
.section {
  padding: 120px 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* =======header====== */
.header-container {
  align-items: center;
  display: flex;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav-page {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-part {
  color: #2e2f42;
}
.header-ul-page {
  display: flex;
  gap: 40px;
}
.header-logo-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-contakt-link {
}
.header-address-page {
  font-style: normal;
  margin-left: auto;
}
.header-nav-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-nav-address-link:hover,
.header-nav-address-link:focus {
  color: #404bbf;
}

.header-contact-page {
  display: flex;
  gap: 40px;
}

.header-logo-link:hover,
.header-logo-link:focus {
  color: #404bbf;
}

.header-nav-address-link:hover,
.header-nav-address-link:focus {
  color: #404bbf;
}
.hero .btn:hover,
.hero .btn:focus {
  background: #404bbf;
}
/* =========/header===== */

/* ==========main======= */

/* ==========1 section hero======= */
.hero {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  height: 56px;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* =============/1 section hero===========*/

/* =============2 section benefit=========== */
.benefit {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 120px 0;
}

.benefit-list {
  display: flex;
  gap: 24px;
}
.benefit-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 72px) / 4);
  gap: 8px;
}
.benefit .text {
  color: #434455;
  text-align: left;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  align-self: flex-start;
}
.benefit-title {
  align-items: start;
}
.title.unvisible {
  align-items: start;
}
.benefit-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =============/2 section benefit =========== */

/* =============3 section team ============ */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-section {
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-info {
  padding: 32px 0;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.team-container {
  padding: 32px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team .title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
} */
.team .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.container .team-container {
  background: #f4f4fd;
}
.img-section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* ====== /3 section img========== */

/* =======4 section portfolio=========== */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.title {
  padding-top: 32px;
  text-align: left;
}
.portfolio .text {
  text-align: left;
}
/* =======/4 section portfolio=========== */

/* ======footer========== */
.footer-page {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-page .logo-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-page .text {
  color: #f4f4fd;
  max-width: 264px;
  margin-left: 156px;
  text-align: left;
}
.footer-page .logo {
  margin-bottom: 16px;
}
.logo {
  margin-left: 156px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
